version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: booking_dotnet_api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=${POSTGRES_DB};User Id=${POSTGRES_USER};Password=${POSTGRES_PASSWORD};
      - Redis__ConnectionString=redis:6379
    ports:
      - "8080:8080"
    depends_on:
      - postgres
      - redis
    networks:
      - booking_net

  postgres:
    image: postgres:16-alpine
    container_name: booking_postgres
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - booking_net
    restart: always

  pgadmin:
    image: dpage/pgadmin4
    container_name: booking_pgadmin
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_EMAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_PASSWORD}
    ports:
      - "5050:80"
    depends_on:
      - postgres
    networks:
      - booking_net

  redis:
    image: redis:alpine
    container_name: booking_redis
    ports:
      - "${REDIS_PORT}:6379"
    networks:
      - booking_net
    restart: always

volumes:
  postgres_data:

networks:
  booking_net:
    driver: bridge
