name: .NET CI

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    environment: development
    services:
      postgres:
        image: postgres:16-alpine
        env:
          POSTGRES_USER: ${{secrets.DB_USER}}
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
          POSTGRES_DB: ${{secrets.POSTGRES_DB}}
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "10.0.x"

      - name: Install dependencies
        run: dotnet restore

      - name: Build with dotnet
        run: dotnet build --no-restore --configuration Release

      - name: Run Integration Tests
        run: dotnet test --no-build --configuration Release --logger trx --results-directory "TestResults"
        env: 
          ConnectionStrings__DefaultConnection: "Host=localhost;Port=5432;Database=${{secrets.POSTGRES_DB}};Username=${{secrets.DB_USER}};Password=${{ secrets.POSTGRES_PASSWORD }}"